// Global scss
input.middle:focus {
  outline-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus {
  outline: none;
}
body {
  margin: 0 !important;
  background-color: #121212 !important;
  color: white !important;
  font-family: "Noto Sans", sans-serif, "Noto Sans KR", sans-serif !important;
  text-align: center !important;
  overflow: hidden !important;
  font-size: 12pt;
}

ul {
  padding: 0;
  margin: auto;
  list-style-type: none;
}

a {
  color: white !important;
  font-family: "Noto Sans", sans-serif, "Noto Sans KR", sans-serif !important;
  text-decoration: none !important;
}

input {
  background-color: black !important;
  border: none;
  color: white !important;
  height: 30px !important;
  padding: 1px 0px 1px 5px !important;
}

button {
  cursor: pointer;
  font-size: 10pt;
  height: 30px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: #757575;
  color: white;
  margin: 2px 0;
  &:hover {
    background-color: #282828;
  }
}

hr {
  border: #757575 solid 1px !important;
}

table {
  background-color: #121212 !important;
}

.visually-hidden {
  display: none;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #757575 !important;
}
.table thead th {
  border-color: #757575 !important;
}
.hidden-xl {
  display: none;
}
.hidden-lg {
  display: none;
}
.hidden-md {
  display: none;
}
.hidden-sm {
  display: none;
}

.logininput {
  border: 1px solid #757575;
  border-radius: 3px;
  margin: 2px 0;
}

.btn-customize {
  height: 30px;
  border-radius: 3px;
  background-color: #757575;
  color: white;
  margin: 2px 0;
  &:hover {
    background-color: #282828;
  }
}

.btn-customize-full {
  width: 100%;
}

.red-text {
  color: red;
  font-size: 10pt;
}
// Header scss

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  padding: 10px 0px;
  grid-template-columns: 50px 150px auto 45px 45px;
  background-color: #282828;
  z-index: 100;

  .menu-icon {
    font-size: 16pt;
    line-height: 24pt;
    margin-top: 3px;
  }
  .logo {
    font-size: 1.5em;
  }

  .menu {
    padding-top: 5px;
    margin: 0px 10px;
    font-size: 10pt;
    border: 2px solid white;
    border-radius: 3px;
  }

  .searchbar {
    display: grid;
    grid-template-columns: auto 50px;
    border: 1px solid #757575;
    border-radius: 3px;
    .searchinput {
      height: 100% !important;
      padding-left: 10px !important;
    }
    .searchbutton {
      width: 100%;
      border: none;
      color: #757575;
      background-color: #282828;
      cursor: pointer;
    }
  }
  .userIcon {
    font-size: 20pt;
    line-height: 24pt;
    margin-right: 10px;
    margin-top: 5px;
  }

  .downloadIcon {
    font-size: 20pt !important;
    line-height: 24pt !important;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
  }

  @media (max-width: 520px) {
    grid-template-columns: 50px auto 50px 50px;

    .menu-icon {
      display: block;
    }

    .logo {
      display: none;
    }
    .navBar {
      position: fixed;
      top: 57px !important;
      left: 0;
      width: 100%;
      display: grid;
      padding: 10px 0px;
    }
    .searchbar {
      margin-left: 10px;
    }
  }

  .profileImg {
    width: 26.66px;
    height: 26px;
    border-radius: 50%;
    border: 2px white solid;
    margin-top: 7px;
    margin-right: 8px;
    cursor: pointer;
    object-fit: cover;
  }
  .accountMenu {
    display: none;
  }

  .accountMenu-open {
    display: block;
    position: fixed;
    right: 0px;
    top: 57px;
    border: 1px solid #757575;
    background-color: #282828;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .tri {
      position: fixed;
      right: 15px;
      top: 46px;
      width: 0px;
      height: 0px;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #282828;
      border-left: 12px solid transparent;
    }
    .tri2 {
      position: fixed;
      right: 14px;
      top: 45px;
      width: 0px;
      height: 0px;
      border-right: 13px solid transparent;
      border-bottom: 13px solid #757575;
      border-left: 13px solid transparent;
    }
    .translate {
      border-top: 1px solid #757575;
	  line-height: 33px;
	  cursor: pointer;
    }
    .actMenu {
      padding: 0 20px;
      line-height: 24pt;
      cursor: pointer;
    }
    .lastActMenu {
      border-top: 1px solid #757575;
    }
  }
}

// mobile logo
.mobileBar {
  display: none;
}
@media (max-width: 520px) {
  .navBar {
    top: 36px;
    // left: 0;
    // width: 100%;
    // display: grid;
    // padding: 10px 0px;
  }
  .mobileBar {
    display: block;
    padding-top: 5px;
    background-color: #282828;
  }
  .logoMobile {
    font-size: 1.5em;
    color: white !important;
    font-family: "Noto Sans", sans-serif !important;
    text-decoration: none !important;
  }
  .searchinput {
    width: 100%;
  }
}
// DownloadBar scss
.downloadBar {
  position: fixed;
  right: 0px;
  top: 57px;
  width: 160px;
  height: auto;
  max-height: 300px;
  min-height: 100px;
  display: none;
  background-color: #282828;
  border: 1px solid #757575;
  .tri {
    position: fixed;
    right: 50px;
    top: 46px;
    width: 0px;
    height: 0px;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #282828;
    border-left: 12px solid transparent;
  }
  .tri2 {
    position: fixed;
    right: 49px;
    top: 45px;
    width: 0px;
    height: 0px;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #757575;
    border-left: 13px solid transparent;
  }
  .rc-progress-line {
    margin: 0 10px;
  }
  .downloadList {
    width: 100%;
    height: auto;
    span {
      margin: 5px 10px -10px 10px;
      width: 90%;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.openD {
  display: block;
}
// SideBar scss

.sidebar {
  position: fixed;
  top: 52px;
  left: -100%;
  width: 100%;
  height: 100%;

  .sideCategories {
    position: fixed;
    top: 52px;
    left: -200px;
    transition: 0.3s;
    width: 200px;
    background-color: #282828;
    height: 100%;
    border-top: 1px solid #757575;
    z-index: 100;
  }

  .openCategories {
    transition: 0.3s;
    left: 0;
    opacity: 2 !important;
  }

  .sideCategory {
    border-bottom: 1px solid #757575;
    padding: 5px;
    opacity: 2 !important;

    &.firstChild {
      border-top: 1px solid #757575;
    }

    &:hover {
      background-color: #757575;
      cursor: pointer;
    }
  }

  .overlay {
    position: fixed;
    top: 52px;
    left: 100%;
    width: 100%;
    height: 100%;
  }

  .openOverlay {
    left: 0;
    background: black;
    opacity: 0.5;
  }
}

.open {
  position: fixed;
  top: 52px;
  left: 0;
}
// Home

.home {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 52px;
  height: calc(100vh - 52px);
  @media (max-width: 520px) {
    height: calc(100vh - 93px);
  }
  .movieList {
    @media (max-width: 735px) {
      .movie {
        width: 33.33% !important;
        .titleSpan {
          font-size: 1em;
        }
      }
    }
    @media (max-width: 600px) {
      .movie {
        width: 50% !important;
        .titleSpan {
          font-size: 1em;
        }
      }
    }
    .movie {
      position: relative;
      z-index: 1;
      float: left;
      width: 25%;
      height: auto;

      .title {
        display: none;
      }

      .watched {
        display: block;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        background-color: black;
        opacity: 0.5;
        .fas {
          color: white;
          position: absolute;
          font-size: 8vw;
          left: calc(50% - 4vw);
          top: calc(50% - 4vw);

        }
      }
      @media (max-width: 735px) {
        .watched {
          .fas {
            font-size: 12vw;
            left: calc(50% - 6vw);
            top: calc(50% - 6vw);
  
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        .title {
          display: block;
          width: calc(100% + 1px);
          height: calc(100% + 1px);
          line-height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5em;
          background-color: black;
          opacity: 0.7;
		  z-index: 1;

          .titleSpan {
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 1;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            hr {
              width: 90%;
              margin-top: 5px;
            }
          }
          .movieYear {
            position: absolute;
            font-size: 14pt;
            top: 14%;
            left: 50%;
            margin-left: -21px;
            @media (max-width: 735px) {
              font-size: 12pt;
            }
            @media (max-width: 400px) {
              top: 16%;
			}
			@media (max-width: 340px) {
				top: 19%;
			  }
          }
          .rating {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .Movie_Genre {
            display: inline;
            position: absolute;
            left: 5%;
            bottom: 5%;
            font-size: 0.7em;
            text-align: center;
			@media (max-width: 340px) {
				display: none;
			}
            span {
              display: inline-block;
              // float: left;
              background-color: white;
              color: black;
              border-radius: 50px;
              padding: 2px 6px 2px 8px;
              margin-top: 5px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

// movie Form

.movieForm {
  margin-top: 52px;
  width: 100%;
  height: calc(100vh - 52px);
  overflow: auto;
  @media (max-width: 520px) {
    height: calc(100vh - 93px);
  }
  .movieDetails {
    .videoPlayer {
      height: 60vw;
      max-height: 700px;
      .rh5v-Captions_trackList {
        overflow-y: auto;
        min-height: 100px;
        height: 10vh;
      }
    }
    .movieTitle {
      border-bottom: 1px solid #757575;
      margin: 14px 5%;
      text-align: left;
      h2 {
        font-size: 16pt;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }
      .movieGenres {
        font-size: 10pt;
        color: #3fa3fb;
      }
      .runTime {
        color: #757575;
        font-weight: bold;
      }
    }
    .detailsGrid {
      margin: 0px 5%;
    }
    .movieSummary {
      width: 100%;
      text-align: justify;
      padding: 0px;
    }
    .movieCasts {
      margin: 15px 0px;
    }
    .movieCast {
      margin: 10px 10px;
      float: left;
    }
    .castPic {
      border-radius: 50%;
      max-width: 60px;
      max-height: 60px;
    }
    .commentList {
      width: calc(100% - 40px);
      height: calc(100% - 24px);
      text-align: left;
      position: relative;
      margin-top: 15px;
      .profileImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .commentInfo {
        position: absolute;
        left: 55px;
        top: -5px;
      }
      .commentUsername {
        font-size: 12pt;
        font-weight: 500;
      }
      .commentDate {
        font-size: 10pt;
        color: #757575;
        line-height: 21pt;
        margin-left: 10px;
      }
      .comment {
        position: relative;
        max-width: calc(100% - 50px);
        word-wrap: break-word;
        left: 55px;
        top: -20px;
        font-size: 12pt;
        display: block;
      }
    }
    .commentInput {
      .profileImg {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      .commentArea {
        display: grid;
        width: calc(100% - 70px);
        grid-template-columns: auto 50px;
        border: 1px solid white;
        border-radius: 3px;
        margin-left: 15px;
        height: 40px;
        button {
          height: 100%;
          border-radius: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          margin: 0;
          border: 0;
        }
      }
      .commentTextarea {
        background: #121212 !important;
        border: none;
        width: 100%;
        color: white;
        text-align: left;
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        height: 100%;
        &:focus {
          outline: none !important;
        }
      }
    }
  }
}

// Login scss

.loginform {
  position: relative;
  background-color: #282828;
  height: auto;
  padding: 10vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid #757575;
  max-width: 400px;

  @media (min-width: 1135px) {
    padding: 112px;
  }

  @media (max-width: 450px) {
    padding: 20%;
  }

  input {
    width: calc(100% - 2px);
    min-width: 170px;
  }

  .logo {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  .oauth-btn-customizes {
    grid-template-columns: auto auto;
  }

  .btn-customize-half {
    width: calc(50% - 2px);
  }

  .btn-customize-right {
    margin-left: 2px !important;
  }
  .btn-customize-left {
    margin-right: 2px !important;
  }
  .forgotPw {
    font-size: 10pt;
  }
  .translate {
    position: absolute;
    left: 0;
    bottom: -35px;
    span {
      cursor: pointer;
    }
  }
  .hr-none {
    border: 0px !important;
  }
  .register {
    position: absolute;
    right: 0;
    bottom: -35px;
  }
}

// Register scss

.registerform {
  position: relative;
  background-color: #282828;
  height: auto;
  padding: 10vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid #757575;
  max-width: 400px !important;

  @media (min-width: 1135px) {
    padding: 112px;
  }

  @media (max-width: 450px) {
    padding: 20%;
  }

  input {
    width: calc(100% - 2px);
  }

  .logo {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  .translate {
    position: absolute;
    left: 0;
    bottom: -35px;
    span {
      cursor: pointer;
    }
  }

  .login {
    position: absolute;
    right: 0;
    bottom: -35px;
  }
}

.forgotPwform {
  position: relative;
  background-color: #282828;
  height: auto;
  padding: 10vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid #757575;
  max-width: 400px !important;

  @media (min-width: 1135px) {
    padding: 112px;
  }

  @media (max-width: 450px) {
    padding: 20%;
  }

  input {
    width: calc(100% - 2px);
  }

  .logo {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  .translate {
    position: absolute;
    left: 0;
    bottom: -35px;
    span {
      cursor: pointer;
    }
  }

  .login {
    position: absolute;
    right: 0;
    bottom: -35px;
  }
}

.dashboard {
  position: relative;
  background-color: #282828;
  height: auto;
  padding: 10vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid #757575;

  @media (min-width: 1135px) {
    padding: 112px;
  }

  @media (max-width: 450px) {
    padding: 20%;
  }

  input {
    width: calc(100% - 2px);
  }

  .profileImg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px white solid;
    margin-right: 8px;
    margin-top: 1.5px;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;

    .profileImg-user {
      position: absolute;
      height: 100%;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
    }
  }

  .remove {
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      cursor: pointer;
    }
  }
}

.profile {
  position: relative;
  background-color: #282828;
  height: auto;
  padding: 10vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid #757575;

  @media (min-width: 1135px) {
    padding: 112px;
  }

  @media (max-width: 450px) {
    padding: 20%;
  }

  input {
    width: calc(100% - 2px);
  }

  .profileImg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px white solid;
    margin-right: 8px;
    margin-top: 1.5px;
    overflow: hidden;
    object-fit: cover;

    .profileImg-user {
      position: absolute;
      height: 100%;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
    }
  }
}

@media (min-width: 1199px) {
}
@media (min-width: 991px) {
}
@media (min-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 430px) {
  .table td,
  .table th {
    padding: 0.4em;
  }
}
@media (max-width: 380px) {
  .table td,
  .table th {
    padding: 0.25em;
  }
}

// .image-quicklook-image {

// }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  //large
}

@media only screen and (max-width: 1068px) {
  //large 2x
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  //med
}

@media only screen and (max-width: 735px) {
  //medium 2x
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  //smale
}

/* loader */
.loader {
  width: 40px;
  height: 40px;
  border: 0.3rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: auto;
  animation: loader 1000ms linear infinite;
  margin-bottom: 20px;
}

/* Media Query */

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

/* sort table */

.sortTable {
  text-align: center;
  ul {
    &.sortOrder {
      height: 36px;
      li {
        float: left;
        width: 50%;
        border: 1px solid #999;
        border-right: 0;
        border-bottom: 1px solid #757575;
        padding: 5px;

        &.firstChild {
          border-top: 1px solid #757575;
        }

        &:hover {
          background-color: #757575;
          cursor: pointer;
        }
        &.desc {
          border-left: 0;
        }
      }
    }

    &.sortBy {
      li {
        border-bottom: 1px solid #757575;
        padding: 5px;
        opacity: 2 !important;
        height: 100%;

        &:hover {
          background-color: #757575;
          cursor: pointer;
        }
      }
    }
  }
}

.genreList {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sideBarSeparate {
  margin: 0;
}
